<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    
    <clear/>

    <add name="DbTypeSQL"
     providerName="Microsoft.Data.SqlClient"
     connectionString= "Server=localhost;Database=MyORM_DB;Trusted_Connection=True;Integrated Security=True;Encrypt=False;"
    />

	  <!--
	  Для использования пакета Microsoft Office (наприме DB Access)
	  необходимо выбрать разрядность сборки соответсвующей
	  разрядности пакету Microsoft Office (x86, x64 и др)
	  -->
	  <add name="DbTypeAccess"
    providerName="System.Data.OleDb"
    connectionString="provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\\..\\..\\..\\..\\Database.mdb"
   />
    
  </connectionStrings>
</configuration>